p {
    color: white;
    text-align: justify;
    display: flex; 
    align-items: center; 
    justify-content: center;
    font-size: large;
}

.dark {
    background-color: rgba(15,15,15);
}

.navbar-dark {
    background-color: rgba(27,27,28);
}

footer {
    background-color: rgba(27,27,28);
}

.container a {
    text-decoration: none;
}

h1 {
    color: white;
    text-align: justify;
    display: flex; 
    align-items: center; 
    justify-content: center;
}

a {
    color: white;
}

.marge {
    margin-left: 9em;
}

h2 {
    color: white;
    text-align: justify;
    font-size: xx-large;
    font-style: italic;
}

h3 {
    color: white;
    text-align: justify;
    font-size: large;
}

h6 {
    color: white;
    text-align: justify;
    font-size: medium;
    font-style: italic;
}

@font-face {
    font-family: "bit";
    src: url('8-BIT WONDER.TTF') format('truetype');
         font-weight:normal;
         font-style:normal;
}